In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({'customer_id': ['1','3','2','2','2','3','3','1','1','4'],'product_id': ['1','2','3','4','5','6','7','8','9','10'],'timestamp':[pd.Timestamp('2018-01-01 00:06:00'),pd.Timestamp('2018-01-01 00:05:00'),pd.Timestamp('2018-01-01 00:04:00'),pd.Timestamp('2018-01-01 00:05:00'),pd.Timestamp('2018-01-01 00:06:00'),pd.Timestamp('2018-01-01 00:07:00'),pd.Timestamp('2018-01-01 00:11:00'),pd.Timestamp('2018-01-01 00:02:00'),pd.Timestamp('2018-01-01 00:00:00'),pd.Timestamp('2018-01-01 00:07:00')]})
data = data.sort_values(['customer_id','timestamp'])
data['timestamp'] = pd.to_datetime(data['timestamp'])
time = pd.Timestamp('2022-01-01 00:00:00')
variables = []
customer_id = data['customer_id'].tolist()
counter = 0
for timestamp in data['timestamp']:
  data_time = timestamp - time
  time = timestamp
  variables.append([customer_id[counter],data_time.seconds/60])
  counter+=1
counter = 0
id = 0
unique_id = []
for variable in variables:
  if id != variable[0] or variable[1] > 3:
    counter += 1
  id = variable[0]
  unique_id.append(counter)
data['unique_id'] = unique_id
data

  customer_id product_id           timestamp  unique_id
8           1          9 2018-01-01 00:00:00          1
7           1          8 2018-01-01 00:02:00          1
0           1          1 2018-01-01 00:06:00          2
2           2          3 2018-01-01 00:04:00          3
3           2          4 2018-01-01 00:05:00          3
4           2          5 2018-01-01 00:06:00          3
1           3          2 2018-01-01 00:05:00          4
5           3          6 2018-01-01 00:07:00          4
6           3          7 2018-01-01 00:11:00          5
9           4         10 2018-01-01 00:07:00          6